<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="display_main">
        <h1 class="book-title">{{book_to_display.tittle}}</h1>
        <p  class="book-id">ID: {{book_to_display.id}}</p>
        <p  class="book-desc">Description: {{book_to_display.desc}}</p>
        <h1 class="author-head">Authors</h1>
        <ul>
        {% for author in authors_of_a_book %}
                <li>{{author.first_name}} {{author.last_name}}</li>
        {% endfor %}
        </ul>
        <form action="addAuthor" method="post">
            {% csrf_token %}
            <select class="add-author" name="add-author" id="add-author">
                    <option value="" disabled selected hidden>-select an author-</option>
                {% for author in all_authors%}
                    <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
                {% endfor %}
            </select>
            <button class="add-display">Add</button>
        </form>
    </div>
</body>
</html>