* {
    padding:0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body .main {
    padding: 40px;

}

body .section-1 {
   text-align: left;
   margin-bottom: 30px;
   display: flex;
   gap:10px;
}

.section-1 span{
    border: 2px black solid;
    height:20px;
    width: 120px;
    display: block;
}
body .section-2 {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.section-2 .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border: 2px black solid;
    margin-bottom: 30px;

}

.section-2 .quest-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border: 2px black solid;
    width: 198.95px;
    margin-bottom: 30px;

}

.main .section-3 {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:10px;

}

span {
    font-weight: bold;
}

label {
    font-weight: bold;
}

.section-4 {
    display: flex;
    justify-content: center;
}

.reset {
    margin: 20px;
    height: fit-content;
    width: 100px;
    border: 2px solid black;
    box-shadow: 2px 2px lightcyan;
    align-self: center;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.your-gold {
    border: 2px solid black;
}

.display-area {
    height: 200px;
    width: 1360px;
    border: 2px solid black;
    overflow: scroll;
    padding-left: 10px;
}