<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dojo_survey.css') }}"> -->
    <link rel="stylesheet" href="/Users/ayahsafi/Desktop/Python_Stack/flask/flask_fundamentals/static/css/dojo_survey.css">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/" method="POST">
        <div class = "name">
            <label for="name">Your Name:</label>
            <input type="text">
        </div>
        <div class="option-1">
            <label for="location">Dojo Location:</label>
            <select name="location" id="location">
                <option value="Ramallah">Ramallah</option>
                <option value="Nablus">Nablus</option>
                <option value="Jerusalem">Jerusalem</option>
                <option value="Gaza">Gaza</option>
            </select>
        </div>
        <div class="option-2">
            <label for="language">Favorite Language:</label>
            <select name="language" id="language">
                <option value="Python">Python</option>
                <option value="C">C</option>
                <option value="Java">Java</option>
                <option value="C++">C++</option>
            </select>
         </div>
        <label for="comment">Comment (optional):</label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <input type="submit" value="Button">
    </form>
</body>
</html>