<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * { 
            margin: 0 auto;
        }
        .box{
            height: 100px;
            width: 100px;
            background-color: #9FC5F8;
            border: 2px solid black; 
        }
        body {
            gap:5px;
            align-items: center;
            display: flex;
        }
        </style>
</head>
<body>
    
    {% for x in range(num): %}
    <div class = "box"></div>
    {% endfor %}
</body>
</html>